* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  user-select: none;
  -webkit-user-drag: none;
  font-size: 62.5%;
}

input {
  outline: none;
}

a {
  text-decoration: none;
}
